n8n/workflows_fixed/workflow_3_send_archive.json
{
  "name": "AIIR 3 — Send & Archive",
  "nodes": [
    {
      "id": "w3_n1_webhook",
      "name": "SOW Approved Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "aiir-sow-approve",
      "parameters": {
        "httpMethod": "GET",
        "path": "aiir-sow-approve",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "w3_n1b_respond",
      "name": "Respond to SOW Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        470,
        480
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><body style='font-family:Arial;text-align:center;padding:60px;'><h1 style='color:#0f9d58;'>✅ SOW Approved & Sent</h1><p>The SOW has been approved and is being sent to the client.</p><p>Files are being archived. The tracker has been updated.</p></body></html>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      }
    },
    {
      "id": "w3_n2_read_tracker",
      "name": "Read Tracker Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        470,
        300
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.AIIR_PRICING_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tracker",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "engagement_id",
              "lookupValue": "={{ $json.query.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "w3_n2b_parse",
      "name": "Parse Full Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ],
      "parameters": {
        "jsCode": "const row = $input.first().json;\nlet fullVars = {};\ntry { fullVars = JSON.parse(row.full_variables_json || '{}'); } catch(e) {}\n\nconst engagementId = row.engagement_id;\nconst clientCompany = row.client_company || fullVars.client_company || 'Unknown_Client';\nconst coacheeName = row.coachee_name || fullVars.coachee_name || 'Unknown';\nconst clientEmail = row.client_email || fullVars.client_email || null;\nconst hubspotDealId = row.hubspot_deal_id || fullVars.hubspot_deal_id || null;\nconst totalPrice = parseFloat((row.total_engagement_price || '0').toString().replace(/[,$]/g, '')) || 0;\nconst paymentStructure = row.payment_structure || fullVars.paymentStructure || '100% invoiced upon program kickoff';\nconst netDays = parseInt(row.net_days) || 30;\n\n// Extract doc IDs from URLs\nconst sowDocUrl = row.sow_doc_url || '';\nconst sowDocIdMatch = sowDocUrl.match(/\\/document\\/d\\/([^/]+)/);\nconst sowDocId = sowDocIdMatch ? sowDocIdMatch[1] : null;\n\nconst rationaleDocUrl = row.rationale_doc_url || '';\nconst rationaleDocIdMatch = rationaleDocUrl.match(/\\/document\\/d\\/([^/]+)/);\nconst rationaleDocId = rationaleDocIdMatch ? rationaleDocIdMatch[1] : null;\n\n// Transcript file ID from full vars\nconst transcriptFileId = fullVars.fileId || fullVars.id || null;\n\nconst today = new Date().toISOString().split('T')[0];\nconst clientFolderSafeName = clientCompany.replace(/[^a-zA-Z0-9 _-]/g, '').trim();\n\nreturn [{ json: {\n  ...fullVars,\n  ...row,\n  engagementId,\n  clientCompany,\n  coacheeName,\n  clientEmail,\n  hubspotDealId,\n  totalPrice,\n  totalPriceFormatted: '$' + Math.round(totalPrice).toLocaleString('en-US'),\n  paymentStructure,\n  netDays,\n  sowDocUrl,\n  sowDocId,\n  rationaleDocUrl,\n  rationaleDocId,\n  transcriptFileId,\n  today,\n  clientFolderSafeName\n} }];"
      }
    },
    {
      "id": "w3_n3_mark_approved",
      "name": "Mark SOW Approved in Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        910,
        300
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.AIIR_PRICING_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tracker",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sow_approval_status": "APPROVED",
            "sow_approved_by": "Reviewer (email link)",
            "sow_approved_at": "={{ new Date().toISOString() }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "engagement_id",
              "condition": "equals",
              "conditionValue": "={{ $json.engagementId }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "w3_n4_create_folder_sows",
      "name": "Create Client SOWs Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $json.clientFolderSafeName }}",
        "folderId": {
          "__rl": true,
          "value": "={{$vars.AIIR_CLIENT_MASTER_FOLDER_ID}}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n4b_create_subfolders",
      "name": "Build Archive Folder Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ],
      "parameters": {
        "jsCode": "const clientFolderResult = $input.first().json;\nconst prevData = $('Parse Full Data').first().json;\n// The created folder ID is the client's main folder\nconst clientFolderId = clientFolderResult.id;\nreturn [{ json: { ...prevData, clientFolderId } }];"
      }
    },
    {
      "id": "w3_n5_create_sow_subfolder",
      "name": "Create SOWs Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1570,
        300
      ],
      "parameters": {
        "operation": "createFolder",
        "name": "SOWs",
        "folderId": {
          "__rl": true,
          "value": "={{ $json.clientFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n5b_create_transcripts_subfolder",
      "name": "Create Transcripts Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1570,
        480
      ],
      "parameters": {
        "operation": "createFolder",
        "name": "Transcripts",
        "folderId": {
          "__rl": true,
          "value": "={{ $('Build Archive Folder Paths').first().json.clientFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n5c_create_pricing_subfolder",
      "name": "Create Pricing Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1570,
        660
      ],
      "parameters": {
        "operation": "createFolder",
        "name": "Pricing",
        "folderId": {
          "__rl": true,
          "value": "={{ $('Build Archive Folder Paths').first().json.clientFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n6_collect_folders",
      "name": "Collect Subfolder IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1790,
        300
      ],
      "parameters": {
        "jsCode": "const prevData = $('Build Archive Folder Paths').first().json;\nconst sowFolder = $('Create SOWs Subfolder').first().json;\nconst transcriptsFolder = $('Create Transcripts Subfolder').first().json;\nconst pricingFolder = $('Create Pricing Subfolder').first().json;\n\nconst sowsFolderId = sowFolder.id;\nconst transcriptsFolderId = transcriptsFolder.id;\nconst pricingFolderId = pricingFolder.id;\nconst archiveFolderUrl = `https://drive.google.com/drive/folders/${prevData.clientFolderId}`;\n\nreturn [{ json: { ...prevData, sowsFolderId, transcriptsFolderId, pricingFolderId, archiveFolderUrl } }];"
      }
    },
    {
      "id": "w3_n7_move_sow",
      "name": "Move SOW to Archive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2010,
        300
      ],
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.sowDocId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.sowsFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n7b_move_transcript",
      "name": "Move Transcript to Archive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2010,
        480
      ],
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Collect Subfolder IDs').first().json.transcriptFileId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Collect Subfolder IDs').first().json.transcriptsFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n7c_move_rationale",
      "name": "Move Rationale to Archive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2010,
        660
      ],
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Collect Subfolder IDs').first().json.rationaleDocId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Collect Subfolder IDs').first().json.pricingFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "w3_n8_send_client_email",
      "name": "Send SOW to Client",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2230,
        300
      ],
      "parameters": {
        "sendTo": "={{ $('Collect Subfolder IDs').first().json.clientEmail }}",
        "subject": "Statement of Work — AIIR Executive Coaching Engagement",
        "emailType": "html",
        "message": "=<html><body style='font-family:Arial,sans-serif;line-height:1.6;color:#333;'>\n<p>Dear {{ $('Collect Subfolder IDs').first().json.coacheeName }},</p>\n\n<p>Thank you for your interest in AIIR Consulting's executive coaching program. Please find your Statement of Work attached via the link below.</p>\n\n<p>This document outlines the scope, timeline, and investment for your engagement. Please review it carefully and reach out with any questions.</p>\n\n<p style='margin:20px 0;'>\n  <a href='{{ $('Collect Subfolder IDs').first().json.sowDocUrl }}' style='background:#1a73e8;color:white;padding:12px 24px;text-decoration:none;border-radius:4px;font-size:15px;'>📄 View Statement of Work</a>\n</p>\n\n<p>We look forward to partnering with you on this journey.</p>\n\n<p>Warm regards,<br>\nMegan Marshall<br>\nAIIR Consulting</p>\n\n<hr style='border:none;border-top:1px solid #eee;margin:30px 0;'>\n<p style='color:#999;font-size:11px;'>AIIR Consulting | Executive Coaching & Leadership Development</p>\n</body></html>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "w3_n8b_check_email",
      "name": "Check Client Email Available",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2010,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check_email",
              "leftValue": "={{ $('Collect Subfolder IDs').first().json.clientEmail }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "w3_n8c_flag_no_email",
      "name": "Flag Missing Client Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2230,
        120
      ],
      "parameters": {
        "sendTo": "={{$vars.AIIR_REVIEWER_EMAIL}}",
        "subject": "=[AIIR] ⚠️ Manual Send Required — {{ $('Collect Subfolder IDs').first().json.clientCompany }}",
        "emailType": "html",
        "message": "=<html><body><h2>Manual SOW Send Required</h2><p>The SOW for <strong>{{ $('Collect Subfolder IDs').first().json.coacheeName }}</strong> ({{ $('Collect Subfolder IDs').first().json.clientCompany }}) is ready but no client email address was found in the transcript.</p><p><a href='{{ $('Collect Subfolder IDs').first().json.sowDocUrl }}'>View SOW</a></p><p>Please send manually to the client.</p></body></html>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "w3_n9_hubspot",
      "name": "Update HubSpot Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2450,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $('Collect Subfolder IDs').first().json.hubspotDealId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ properties: { dealstage: \"sow_sent\", amount: String($(\"Collect Subfolder IDs\").first().json.totalPrice) } }) }}",
        "options": {
          "ignore404": true
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_HUBSPOT_CREDENTIAL_ID",
          "name": "HubSpot Bearer Token"
        }
      }
    },
    {
      "id": "w3_n10_final_tracker",
      "name": "Final Tracker Update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2670,
        300
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{$vars.AIIR_PRICING_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tracker",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent_at": "={{ new Date().toISOString() }}",
            "archive_folder_url": "={{ $('Collect Subfolder IDs').first().json.archiveFolderUrl }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "engagement_id",
              "condition": "equals",
              "conditionValue": "={{ $('Collect Subfolder IDs').first().json.engagementId }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "SOW Approved Webhook": {
      "main": [
        [
          {
            "node": "Respond to SOW Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Tracker Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tracker Row": {
      "main": [
        [
          {
            "node": "Parse Full Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Full Data": {
      "main": [
        [
          {
            "node": "Mark SOW Approved in Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark SOW Approved in Tracker": {
      "main": [
        [
          {
            "node": "Create Client SOWs Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client SOWs Folder": {
      "main": [
        [
          {
            "node": "Build Archive Folder Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Archive Folder Paths": {
      "main": [
        [
          {
            "node": "Create SOWs Subfolder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Transcripts Subfolder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Pricing Subfolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SOWs Subfolder": {
      "main": [
        [
          {
            "node": "Collect Subfolder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transcripts Subfolder": {
      "main": [
        [
          {
            "node": "Collect Subfolder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Pricing Subfolder": {
      "main": [
        [
          {
            "node": "Collect Subfolder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Subfolder IDs": {
      "main": [
        [
          {
            "node": "Move SOW to Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Transcript to Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move Rationale to Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Client Email Available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Email Available": {
      "main": [
        [
          {
            "node": "Send SOW to Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag Missing Client Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SOW to Client": {
      "main": [
        [
          {
            "node": "Update HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Missing Client Email": {
      "main": [
        [
          {
            "node": "Update HubSpot Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Deal": {
      "main": [
        [
          {
            "node": "Final Tracker Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "notes": "AIIR SOW Automation — Workflow 3: SOW Approved → Send & Archive. Triggered by clicking the approve link in the SOW review email. Before activating: (1) Set AIIR_PRICING_SHEET_ID as workflow variable. (2) Update AIIR_CLIENT_MASTER_FOLDER_ID in Create Client SOWs Folder node. (3) Add HubSpot Bearer Token credential. (4) Replace all credential IDs."
  }
}